body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 0 0 3px #f50b0b;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-container {
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(249, 128, 6);
}

h2 {
  font-size: 1.5rem;
  margin-top: 20px;
}

p {
  line-height: 1.6;
}

ul li {
  list-style-type: " ✯ ";
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

footer {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
